@model IEnumerable<Entities.Entities.Produto>

@{
	ViewData["Title"] = "Index";
}
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<h1>Lista de Produtos</h1>

<p>
	<a asp-action="Create">Cadastrar novo produto</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.QtdEstoque)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Preco)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.QtdEstoque)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Preco)
				</td>
				<br />
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
